/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #DDDDDD;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    color: #666;
}

/* Form Styles */
form {
    max-width: 600px;
    margin: 0 auto;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="file"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    
    box-sizing: border-box;
}

button {
    
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
     
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Profile Page Styles */
.profile-image {
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* assets/css/styles.css */




/* ----------------------register--------------------*/
.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    
    width: 400px;
    max-width: 100%;
    margin: 20px auto;
    
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

.input-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
}

input[type="text"], input[type="password"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
  
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus {
    border-color: #888;
    outline: none;
}

button {
    padding: 10px;
    background-color:#FF6347;
    color: #fff;
    border: none;
   
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ff5a47;
}

